body{
    margin: 0;
    font-family: system-ui, sans-serif;
}

h1,h2,h3,h4{
    margin: 0;
}
button{
    user-select: none;
    cursor: pointer;
}

#container{
    margin: 0 auto;
    padding: 1rem 0;
    width: min(700px, 100%);
}

.header{
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
}

.header button{
    font-size: 14px;
    font-weight: bold;
    height: fit-content;
    padding: 8px 16px;
    background-color: #0fa926;
    color: white;
    border: none;
    border-radius: 5px;
}

/*Modal styles*/
#modal{
    display: none;
    --padding: 0.2rem 0.8rem 0.8rem 0.8rem;
    --font: 14px;
    padding: var(--padding);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    background-color: white;
    z-index: 9;

    box-shadow: 3px 3px 10px #0003;
}

#modal > div{
    padding: var(--padding);
    font-size: var(--font);
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#modal p{
    color: cadetblue;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#modal input{
    padding: 5px 10px;
    font-size: var(--font);
    border-radius: 5px;
    border: none;
    background-color: transparent;
    border: 1px solid gray;
}

#modalClose{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: red;
}

#add{
    margin-bottom: 0.5rem;;
    padding: 5px 10px;
    font-size: var(--font);
    font-weight: bold;
    width: 100%;
    border: none;
    color: white;
    background-color: cadetblue;
}

/*Table styles*/
#table_parent{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    color: cadetblue;
    border-bottom: 1px solid gray;
}

#table_sibling{
    width: 100%;
    border-collapse: collapse;
}

#table_sibling tr{
    user-select: none;
}
#table_main{
    border-collapse: collapse;
    border-top: 1px solid gray;
}

#tbody{
    color: gray;
    font-size: 12px;
    font-weight: bold;
}
#tbody tr{
    position: relative;
    width: 100%;
    display: flex;
}

@keyframes entry {
    to{
        transform: translateY(0);
    }
}

#tbody tr:hover{
    color: white;
    background-color: cadetblue;
}


#tbody tr td{
    text-align: center;
    flex: 1 1 100%;
    padding: 10px 5px;
}



#tbody tr button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    background: transparent;
}

#tbody tr.hovered{
    background-color: #f00;
}

#tbody tr:nth-child(even){
    background-color: #5f9ea015;
}
#tbody tr:nth-child(even):hover{
    background-color: cadetblue;
}

#tbody tr.hovered:nth-child(even){
    background-color: #f00;
}
#q{
    margin-top: 1rem;
}   

#q div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 1rem;
}
#q input{
    width: 80px;
}

@media screen and (max-width: 500px) {
    .header button{
        padding: 4px 8px;
    }
    #modal{
        --padding: 0.5rem;
        --font:12px
    }
    h1{
        font-size: 24px;
    }
    .header button{
        font-size: 12px;
    }
    th{
        font-size: 12px;
    }
    #tbody{
        font-size: 10px;
    }
    #q div{
        font-size: 12px;
    }
}
